@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700&display=swap");
* {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam", sans-serif;
  transition: all 0.3s ease-in-out; }
  * a {
    text-decoration: none; }

@keyframes mymove {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }

@keyframes mymove1 {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0%); } }

@keyframes mymove2 {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0%); } }

@keyframes mymove3 {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0%); } }

body {
  background: url(../img/bg-tablet-pattern.svg), url(../img/bg-tablet-pattern.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-x: 117%, -23%;
  background-position-y: -12%, 80%; }

body::-webkit-scrollbar {
  width: 1rem; }

body::-webkit-scrollbar-track {
  background: #f25f3a; }

body::-webkit-scrollbar-thumb {
  background: #ffefeb; }

.navbar {
  display: flex;
  justify-content: space-around;
  place-self: center;
  margin-top: 3rem; }
  .navbar img {
    width: 150px;
    height: 36px; }
  .navbar_items .navbar_link {
    margin-left: 2em;
    color: #1d1e25; }
  .navbar_btn {
    border-radius: 2em;
    color: white;
    background-color: #f25f3a;
    width: 10rem;
    height: 3rem;
    border: none;
    box-shadow: 6px 6px 21px -10px rgba(224, 90, 12, 0.59);
    margin-top: -1em; }
  .navbar_icon {
    display: none; }

@media (max-width: 720px) {
  .navbar {
    display: flex;
    margin-top: 3rem; }
    .navbar_items {
      display: none; }
    .navbar_btn {
      display: none; }
    .navbar_icon {
      display: flex;
      width: 35px;
      height: 32px; }
  .responavBar {
    top: 100px;
    display: flex;
    position: fixed;
    width: 94%;
    height: 18em;
    border-radius: 20px;
    background: #fafafa;
    text-align: center;
    flex-direction: column;
    color: black;
    line-height: 3em; } }

.container {
  width: 80%;
  margin: 2em auto; }
  .container .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em; }
    .container .hero_bTitle {
      font-size: 3em;
      line-height: 1.5em;
      margin-bottom: 0.5em; }
    .container .hero_left {
      display: flex;
      flex-direction: column;
      max-width: 400px; }
      .container .hero_left p {
        margin-bottom: 2em; }
    .container .hero_btn {
      border-radius: 2em;
      color: white;
      background-color: #f25f3a;
      width: 10rem;
      height: 3rem;
      border: none;
      box-shadow: 6px 6px 21px -10px rgba(224, 90, 12, 0.59); }
  .container .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px; }
    .container .main .main_one {
      margin-right: 95px; }
      .container .main .main_one h1 {
        color: #1d1e25;
        font-size: 43px;
        line-height: 1;
        animation: mymove2 2s; }
      .container .main .main_one p {
        margin-top: 25px;
        animation: mymove3 2s; }
    .container .main .main_two .main_two_11 .main_two_1 {
      animation: mymove2 2s;
      display: flex;
      flex-direction: row; }
      .container .main .main_two .main_two_11 .main_two_1 h3 {
        align-items: center;
        margin-top: 5px;
        margin-left: 10px;
        animation: mymove5 2s; }
    .container .main .main_two .main_two_11 p {
      margin-left: 80px; }
    .container .main .main_two .main_two_22 .main_two_2 {
      animation: mymove2 2s;
      margin-top: 20px;
      display: flex;
      flex-direction: row; }
      .container .main .main_two .main_two_22 .main_two_2 h3 {
        align-items: center;
        margin-top: 5px;
        margin-left: 10px; }
    .container .main .main_two .main_two_22 p {
      margin-left: 80px; }
    .container .main .main_two .main_two_33 .main_two_3 {
      animation: mymove2 2s;
      margin-top: 20px;
      display: flex;
      flex-direction: row; }
      .container .main .main_two .main_two_33 .main_two_3 h3 {
        align-items: center;
        margin-top: 5px;
        margin-left: 10px; }
    .container .main .main_two .main_two_33 p {
      margin-left: 80px; }
    .container .main .main_two button {
      background-color: #f25f3a;
      color: #ffefeb;
      border-radius: 22px;
      border: none;
      width: 70px;
      height: 42px;
      box-shadow: 0px 7px 13px rgba(253, 159, 96, 0.4); }
  @media (max-width: 1080px) {
    .container .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px; }
      .container .main .main_one {
        margin-right: 0px;
        margin-left: 35px;
        margin-bottom: 60px; }
      .container .main .main_tow {
        display: flex;
        flex-direction: column; } }
  .container .client {
    margin-top: 80px; }
    .container .client h1 {
      text-align: center;
      font-size: 43px; }
    .container .client .gris h1 {
      color: #1d1e25; }
    .container .client .gris .bg_1 {
      text-align: center; }
      .container .client .gris .bg_1 button {
        background-color: #f25f3a;
        color: #ffefeb;
        border-radius: 22px;
        border: none;
        width: 125px;
        height: 42px;
        box-shadow: 0px 7px 13px rgba(253, 159, 96, 0.4); }
      .container .client .gris .bg_1 .bg_1_1 {
        height: 230px;
        width: 495px;
        align-self: center;
        background-color: gray;
        margin: auto;
        margin-bottom: 30px; }
  @media (max-width: 1080px) {
    .container .hero {
      display: flex;
      margin: 0px auto;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding: 1em; }
      .container .hero_bTitle {
        font-size: 3em;
        line-height: 1.5em;
        margin-bottom: 0.5em; }
      .container .hero_left {
        display: flex;
        flex-direction: column;
        max-width: 400px; }
        .container .hero_left p {
          margin-bottom: 2em; }
      .container .hero_right img {
        width: 80%; }
      .container .hero_btn {
        border-radius: 2em;
        color: white;
        background-color: #f25f3a;
        width: 10rem;
        height: 3rem;
        border: none;
        box-shadow: 6px 6px 21px -10px rgba(224, 90, 12, 0.59); } }

.footer {
  display: flex;
  flex-direction: row;
  height: 270px;
  background-color: Black;
  justify-content: space-around;
  align-items: center;
  padding: 50px; }
  .footer .part1 .logo {
    margin-bottom: 35px; }
  .footer .part1 .footer_social_media {
    margin-top: 74px; }
  .footer .links {
    display: flex;
    flex-direction: row;
    align-items: stretch; }
    .footer .links .footer__second {
      margin-right: 50px;
      color: white; }
      .footer .links .footer__second li {
        list-style: none; }
        .footer .links .footer__second li a {
          text-decoration: none;
          color: white; }
    .footer .links .footer__third li {
      list-style: none; }
      .footer .links .footer__third li a {
        text-decoration: none;
        color: white; }
  .footer .footer__inline .inpt {
    margin-bottom: 109px; }
  .footer .footer__inline .ftr-p {
    margin-top: 74px;
    color: white; }

.teamWork {
  align-items: center;
  background-image: url(Img/bg-simplify-section-desktop.svg);
  background-color: #f25f3a;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  height: 160px; }
  .teamWork .teamwork_h1 h1 {
    color: #ffefeb;
    font-size: 30px; }
  .teamWork .teamwork_btn button {
    background-color: #ffefeb;
    color: #f25f3a;
    border-radius: 22px;
    border: none;
    width: 125px;
    height: 42px;
    box-shadow: 0px 7px 13px rgba(253, 159, 96, 0.4); }
