/// Initialization ////

* {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam", sans-serif;
  transition: all 0.3s ease-in-out;
  @import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700&display=swap");

  a {
    text-decoration: none;
  }
}

// Btn Mixin ////

@mixin btn {
  border-radius: 2em;
  color: white;
  background-color: $bRed;
  width: 10rem;
  height: 3rem;
  border: none;
  box-shadow: 6px 6px 21px -10px rgba(224, 90, 12, 0.59);
}

@keyframes mymove {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes mymove1 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes mymove2 {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes mymove3 {
  from {
    transform: translateY(+100%);
  }

  to {
    transform: translateY(0%);
  }
}

@mixin btn-hover {
  color: hsl(13, 100%, 96%);
  background-color: rgb(255, 121, 59);
  box-shadow: 0px 15px 20px rgba(194, 68, 10, 0.4);
  transform: translateY(-7px);
}

@mixin btn-color($Wt, $Ht, $color, $bg-color) {
  background-color: $bg-color;
  color: $color;
  border-radius: 22px;
  border: none;
  width: $Wt;
  height: $Ht;
  box-shadow: 0px 7px 13px rgba(253, 159, 96, 0.4);
}

body {
  background: url(../img/bg-tablet-pattern.svg),
    url(../img/bg-tablet-pattern.svg);

  background-repeat: no-repeat, no-repeat;
  background-position-x: 117%, -23%;
  background-position-y: -12%, 80%;
}

/// ScrollBar Customize ////
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: hsl(12, 88%, 59%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(13, 100%, 96%);
}

///////////////   NavBar    ////////////////

.navbar {
  display: flex;
  justify-content: space-around;
  place-self: center;
  margin-top: 3rem;

  img {
    width: 150px;
    height: 36px;
  }
  &_items {
    .navbar_link {
      margin-left: 2em;
      color: $vdBlue;
    }
  }
  &_btn {
    @include btn();
    margin-top: -1em;
  }
  &_icon {
    display: none;
  }
}
/////////// Responsive NavBar //////////////////
@media (max-width: 720px) {
  .navbar {
    display: flex;
    margin-top: 3rem;

    &_items {
      display: none;
    }
    &_btn {
      display: none;
    }
    &_icon {
      display: flex;
      width: 35px;
      height: 32px;
    }
  }
  /////////// Hiden navbar ////////
  .responavBar {
    top: 100px;
    display: flex;
    position: fixed;
    width: 94%;
    height: 18em;
    border-radius: 20px;
    background: #fafafa;
    text-align: center;
    flex-direction: column;
    color: black;
    line-height: 3em;
  }
}

/////////* Contianer *///////////
.container {
  width: 80%;
  margin: 2em auto;

  /////////* hero_section *///////////
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;

    &_bTitle {
      font-size: 3em;
      line-height: 1.5em;
      margin-bottom: 0.5em;
    }

    &_left {
      display: flex;
      flex-direction: column;
      max-width: 400px;

      p {
        margin-bottom: 2em;
      }
    }
    &_btn {
      @include btn;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;

    .main_one {
      margin-right: 95px;

      h1 {
        color: hsl(233, 12%, 13%);
        font-size: 43px;
        line-height: 1;
        animation: mymove2 2s;
      }

      p {
        margin-top: 25px;
        animation: mymove3 2s;
      }
    }

    .main_two {
      .main_two_11 {
        .main_two_1 {
          animation: mymove2 2s;
          display: flex;
          flex-direction: row;

          h3 {
            align-items: center;
            margin-top: 5px;
            margin-left: 10px;
            animation: mymove5 2s;
          }
        }

        p {
          margin-left: 80px;
        }
      }

      .main_two_22 {
        .main_two_2 {
          animation: mymove2 2s;
          margin-top: 20px;

          display: flex;
          flex-direction: row;

          h3 {
            align-items: center;
            margin-top: 5px;
            margin-left: 10px;
          }
        }

        p {
          margin-left: 80px;
        }
      }

      .main_two_33 {
        .main_two_3 {
          animation: mymove2 2s;
          margin-top: 20px;
          display: flex;
          flex-direction: row;

          h3 {
            align-items: center;
            margin-top: 5px;
            margin-left: 10px;
          }
        }

        p {
          margin-left: 80px;
        }
      }

      button {
        @include btn-color(70px, 42px, hsl(13, 100%, 96%), hsl(12, 88%, 59%));
      }
    }
    .sec_three {
      display: flex;
      flex-direction: row;
      .item {
        padding: 1em;
        background-color: hsl(0, 0%, 98%);
        text-align: center;
        .contenu_slide {
          position: relative;
          bottom: 20px;
        }
      }
    }
  }
  @media (max-width: 1080px) {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      .main_one {
        margin-right: 0px;
        margin-left: 35px;
        margin-bottom: 60px;
      }

      .main_tow {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .client {
    margin-top: 80px;

    h1 {
      text-align: center;
      font-size: 43px;
    }

    .gris {
      h1 {
        color: hsl(233, 12%, 13%);
      }
      .bg_1 {
        text-align: center;
        button {
          @include btn-color(
            125px,
            42px,
            hsl(13, 100%, 96%),
            hsl(12, 88%, 59%)
          );
        }
        .bg_1_1 {
          height: 230px;
          width: 495px;
          align-self: center;
          background-color: gray;
          margin: auto;
          margin-bottom: 30px;
        }
      }
    }
  }
  @media (max-width: 1080px) {
    .hero {
      display: flex;
      margin: 0px auto;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding: 1em;

      &_bTitle {
        font-size: 3em;
        line-height: 1.5em;
        margin-bottom: 0.5em;
      }

      &_left {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        p {
          margin-bottom: 2em;
        }
      }
      &_right {
        img {
          width: 80%;
        }
      }
      &_btn {
        @include btn;
      }
    }
  }
}
.teamWork {
  align-items: center;
  background-image: url(Img/bg-simplify-section-desktop.svg);
  background-color: hsl(12, 88%, 59%);
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  height: 160px;
  .teamwork_h1 {
    h1 {
      color: hsl(13, 100%, 96%);
      font-size: 30px;
    }
  }
  .teamwork_btn {
    button {
      @include btn-color(125px, 42px, hsl(12, 88%, 59%), hsl(13, 100%, 96%));
    }
  }
}
@media (max-width: 375px) {
  .teamWork {
    align-items: center;
    background-image: url(Img/bg-simplify-section-desktop.svg);
    background-color: hsl(12, 88%, 59%);
    display: block;
    justify-content: space-around;
    margin-top: 80px;
    height: 290px;
  }
  .teamwork_h1 {
    h1 {
      color: hsl(13, 100%, 96%);
      font-size: 30px;
      width: 195px;
      text-align: center;
      padding-top: 3rem;
      margin-left: 5rem;
    }
  }
  .teamwork_btn {
    padding-top: 2rem;
    margin-left: 7rem;
    button {
      @include btn-color(125px, 42px, hsl(12, 88%, 59%), hsl(13, 100%, 96%));
    }
  }
}
.part5 {
  height: 40vh;
  background-color: black;
  color: hsl(0, 0%, 98%);
  display: flex;
  justify-content: space-around;
}
@media (max-width: 375px) {
  .part5 {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    background-color: hsl(233, 12%, 13%);
  }
}
.part5-media {
  display: flex;
  justify-content: space-around;
  padding-top: 6.5rem;
  padding-left: 0rem;
  margin-left: 2rem;
  img {
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  img:hover {
    color: #3b5998;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.part5-logo {
  padding-top: 6rem;
  margin-left: 2rem;
  max-width: 200px;
}
.part5-nav1 {
  padding-top: 5.7rem;
  padding-right: 8rem;
  max-width: 200px;

  li {
    list-style: none;
    line-height: 2.5rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: hsl(12, 88%, 59%);
  }
}
.part5-nav2 {
  padding-top: 5.7rem;
  max-width: 200px;
  // padding-bottom: 4rem;
  margin-right: 4rem;
  li {
    list-style: none;
    line-height: 2.5rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: hsl(12, 88%, 59%);
  }
}
.part5-contact {
  max-width: 700px;
  @media (max-width: 768px) {
    margin-left: 2rem;
  }
}
.button5 {
  background-color: hsl(12, 88%, 59%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 33px;
  margin-right: 10px;
  cursor: pointer;
  padding: 12px 27px;
  border-radius: 29px;
  outline: none;
}
.part5-contact {
  padding-top: 3.5rem;
  p {
    color: hsl(227, 12%, 61%);
    padding-top: 6rem;
    font-size: 14px;
    margin-left: 6rem;
  }
  input {
    border-radius: 29px;
    padding: 0.7rem 3rem;
    outline: none;
  }
  #error {
    padding-top: 5px;
    margin: 0px;
    margin-left: 4em;
  }
}
@media (max-width: 375px) {
  .part5-contact {
    display: inline;
    padding-top: 1.5rem;
    input {
      margin-top: 1rem;
      padding: 0.7rem 1rem;
    }
    p {
      position: relative;
      top: 380px;
      margin-right: 1.5rem;
      margin-left: 1.6rem;
    }
  }
}
.part5-nav {
  display: flex;
  padding: 1rem 0.6rem 1rem 2rem;
  font-size: 14px;
}
@media (max-width: 375px) {
  .part5-nav {
    display: flex;
    padding: 1rem 0.6rem 1rem 2rem;
    font-size: 14px;
    margin-top: -10rem;
  }
  .part5-logo {
    margin-top: -6rem;
    text-align: center;
    margin-left: 5rem;
    margin-bottom: 8rem;
  }
  .part5-ml {
    display: flex;
    flex-direction: column-reverse;
  }
  .part5-media {
    margin-bottom: 6rem;
    margin-top: -4rem;
    padding-right: 3.5rem;
  }
}
