//// Neutral Color ////
$gBlue: hsl(227, 12%, 61%);
$vdBlue: hsl(233, 12%, 13%);
$pRed: hsl(13, 100%, 96%);
$lGray: hsl(0, 0%, 98%);
//// Primary Color
$bRed: hsl(12, 88%, 59%);
$dBlue: hsl(228, 39%, 23%);
